.App {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: 100vh !important;
  min-height: 100vh !important;
  margin: 0;
  padding: 0;
}

.fridge-items {
  width: 300px;
  height: 300px;
  background-color: #000000;
  display: block;
  flex-shrink: 0;
  border: 2px solid #ffffff;
}

